<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div class="row">
            <div class="col">
                <Label>Start Date</Label><br />
                <p-calendar formControlName="startDate" [showIcon]="true"></p-calendar>
                <div class="text-danger" *ngIf="submitted && myForm.get('startDate').hasError('required')">
                    Start Date must be filled
                </div>
            </div>
            <div class="col">
                <Label>End Date</Label><br />
                <p-calendar formControlName="endDate" [showIcon]="true"></p-calendar>
                <div class="text-danger" *ngIf="submitted && myForm.get('endDate').hasError('incorrect')">
                    Start date must be before the end date
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary mr-3">Search</button>
                <button type="reset" class="btn btn-danger" (click)="clearDates()">Restart</button>
            </div>
        </div>
    </form>
</div>